body {
  background: black;
  text-align: center;
}

.square {
  width: 50px;
  height: 50px;
  background: lightgrey;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  display: inline-block;
  cursor: pointer;
}

.clicked {
  width: 50px;
  height: 50px;
  background: lightgrey;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-right: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
  display: inline-block;
  cursor: pointer;
}

.gamearea {
  width: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
